{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div>
        <h1 class="products-heading text-white text-center">ALL PRODUCTS</h1>
        <div class="products-table">
            <table class="products-list table table-dark table-hover">
                <tr class="list-heading">
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                {% for product in all_products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.qtty }}</td>
                        <td>{{ product.size }}</td>
                        <td>{{ product.price }}</td>
                        <td><a href="/delete-product/{{ product.id }}" class="btn btn-danger">Delete</a></td>
                        <td><a href="/update-product/{{ product.id }}" class="btn btn-info">Update</a></td>
                    </tr>
                {% endfor %}

            </table>
        </div>

    </div>

{% endblock %}